{% extends 'base_generic.html' %}

{% block content %}

{% if form.errors %}
<p style="text-align: center; color: white;"">Login whit an account valid Please.</p>
{%else %}
<p style="color: white; text-align: center;" >Please login</p>
{% endif %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div style="text-align: center; color: white;">
        <td style="color: white;">{{ form.username.label_tag }}</td>
        <td style="color: white;">{{ form.username}}</td>
    </div>
    <div style="text-align: center; color: white;">
        <td style="color: white;">{{ form.password.label_tag }}</td>
        <td>{{ form.password}}</td>
    </div>
    {{next}}
    <div style="text-align: center;">
        <input type="submit" value="login">
        <input type="hidden" name='next' value="{{ next }}">
    </div>
</form>

{# Assumes tou setup the password_reset view in your URLconf #}
<p style="text-align: center;"><a href="{% url 'password_reset' %}" >Lost password?</a></p>
<p style="text-align: center;"><a href="{% url 'RegistrarUsuario' %}" >Not member?</a></p>

{% endblock %}