<html>

<head>

    {% load static %}
    
    <!-- Bootstrap -->
    <link href="{% static 'App/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'App/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="text-uppercase text-center text-white d-none d-lg-block ">
      
        <span class="site-heading-lower">Red Social</span>
      </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" >Red Social</a>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'ingresar' %}">Bienvenido</a>
          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>

  
   <!-- Contenido cambiante -->
    {% block content %}

    {% endblock %}
  
    


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Red Social 2021</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'Appp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Appp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>