{% extends 'App/base.html' %}

{% load static %}

{% block content %}
<script src="{% static 'App/vendor/jquery/jquery-3.6.0.js' %}"></script>
   <!--473 134 3654-->
<script>
  var z = '{{como}}'
  p= '{{Posts.1}}'
       
  //[&lt;Posts: otr, &lt;Posts: Post de notif&gt;, &lt;Posts: Post de notifi&gt;, &lt;Posts: Otro post&gt;, &lt;Posts: Hey unpost&gt;, &lt;Posts: post&gt;]
  //[otr, &lt;Posts: Post de notif&gt;, &lt;Posts: Post de notifi&gt;, &lt;Posts: Otro post&gt;, &lt;Posts: Hey unpost&gt;, &lt;Posts: post&gt;]
  //otr, &lt;Posts: Post de notif&gt;, &lt;Posts: Post de notifi&gt;, &lt;Posts: Otro post&gt;, &lt;Posts: Hey unpost&gt;, &lt;Posts: post&gt;
  $(document).ready(function() {
    var tex= '{{como}}';
    var cad=[];
    var cad1=[]
    tex=tex.replace(/&gt/g,'');tex=tex.replace(/&lt;Posts: /g,'');tex=tex.replace(/&lt;Posts:/g,'');tex=tex.replace(/;Posts:/g,'');tex=tex.replace(/&lt/g,'');tex=tex.replace(/]/g,'');tex=tex.replace(/;/g,'');tex=tex.replace( '[' ,'');tex=tex.split(', ');
   
    for (i in tex){
      cad.push("#A" + tex[i]);
      cad1.push("#C" + tex[i]);
      //alert(cad[i]);
    }
    for (let i=0; i< tex.length;i++){
      $(cad[i]).hide();
      $(cad1[i]).click(function () {
        $(cad[i]).show();
      });
      $(cad1[i]).dblclick(function () {
        $(cad[i]).hide();
    
    });
  }
  
 
  });
    
  </script>

<div class="container">

  <div class="row">

    <div class="col-md-12 search">

      <form action="../home" method="POST">
        {% csrf_token %}
        <div id="custom-search-input">

          <div class="input-group col-md-12">
             <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
            
            <span class="input-group-list">

              <i class="icon icon-search"></i>
              <button type="submit" class="form-control" style="background-color: green; color: black; font-family: cursive;">Buscar</button>

            </span>

          </div>

        </div>

      </form>

    </div>

  </div>

</div>

{% for solisitud in solisitudes %}
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.Foto.url}}" alt=""style="width:50%;"">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{solisitud.FROM_usuario}}</span>
            <form action="ProcesarSolicitud" method="POST">
              {% csrf_token %}
              <input type="submit" value="Aceptar">
              <input type="text" value="{{activos}}" name="activo" style="visibility: hidden;">
              <input type="text" value="{{solisitud.FROM_usuario.id}}" name="visitado" style="visibility: hidden;">
              <input type="text" value="Aceptar" name="solicitud" style="visibility: hidden;"> 
            </form>
            <span><form action="ProcesarSolicitud" method="POST">
              {% csrf_token %}
                <input type="submit" value="REchazar"> 
                <input type="text" value="{{activos}}" name="activo" style="visibility: hidden;">
              <input type="text" value="{{solisitud.FROM_usuario.id}}" name="visitado" style="visibility: hidden;">
              <input type="text" value="Rechazar" name="solicitud" style="visibility: hidden;">
            
            </form></span> 
            
          </h2>

          <div style="text-align: left; font-size: 0.8em;">
            <!--Negocio: <a href='{{Banquet.0}}{{Banquetess.Negocio}}'>{{Banquetess.Negocio}}</a> 
            -->
        </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}

<h3 style="color: white; margin: 0%; text-align: center; cursor : pointer" >Agregar Post {{dato}}</h3>
      
  <form action="Inicio" method="POST" style="text-align: center;" enctype="multipart/form-data">
      {% csrf_token %}
      
      <input type="text" name="activos" value="{{activos}}" style="visibility: hidden;">
      <table style="color: white; margin: 20px auto;">{{Formulario.as_table}}</table>
     <select name="Author" required id="id_Author" >
        <option value="{{Author.id}}">---------</option>
      
        <option value="{{Author.id}}">Verificar</option>
      
    </select> 
      <input type="submit" value="Publicar post" style="width: 150px;"></div>
      
  </form><br>

{% for post in Posts %}
<section class="page-section clearfix" style="padding: 8%;">
    <div class="container">
      <div class="intro">
        <div style="background-color: palegreen ; border: black; border-radius: 5px ;">
          <div style="padding-left: 20%; border: black; border-width: 20px;">
          <span class="section-heading-upper" style="text-align: left; font-family: cursive;"><a href="visita/{{post.Author.id}}">{{post.Author.username}}</a></span><br>
          <span class="section-heading-upper" style="color: crimson; text-align: left; font-family:cursive; background-color:mediumseagreen;"">{{post.Nombre}}</span><br>
          <span class="section-heading-upper" style=" color: black;text-align: left; background-color:mediumseagreen;">{{post.Descripcion}}</span><br>
        </div>
        <div align="center"; style="border: black; ">
        <img   style="border: black; border-radius: 20px ;width: 80%;" src="{{post.Foto.url}}" alt="as_table" >
      </div></div>
      
        <div style=" background-color: palegreen ; border-radius: 10px; padding-left: 10%;">    
           
            <form method="POST" action="me_gusta">
            {% csrf_token %}
            <input type="text" value="{{post.id}}" name="postid" style="font-size: 0px;visibility: hidden;">
            {% if post in postslikeados  %}   <!--Recibimos y trabajamos con likes del activo, arreglo de posts likesados-->
            <input type="text" value="0" name="valor" style="font-size: 0px;visibility: hidden;">
            <div >
            <input type="submit" style="align-items: flex-end ;font-family:cursive; color: blue; border-radius: 10px; text-align: right;" value="Me gusta">
          </div>
            {% else %}
            <input type="text" value="1" name="valor" style="font-size: 0px;visibility: hidden;">
            <div >
              <input type="submit" style=" font-family: fantasy; border-radius: 10px; text-align: right;" value="Me gusta" >
            </div>
            {% endif %}
            
            </form>
            <span style="font-weight: 500;">Likes: {{post.me_gustas}}</span><br>
         
           <span id='C{{post.id}}' style="font: size 0.5em;;">Comentarios</span><br>
           <div id='A{{post.id}}'>
           {% for comentario in comentarios %} 
           
           {% ifequal comentario.Post  post %}
           
           {{comentario.Author}}: <span class="section-heading-upper">{{comentario.Coment}}</span><br>
            {% endifequal %}
            {% endfor %}
          </div>
            
          <span id="comentar{{post}}">Comentar</span>

          <div style="padding-block-end: 1%;">
            <form action="Comentario" method="POST" id="Comentar{{post}}">
            {% csrf_token %}
              <input type="text" name="texto">
            <input type="submit" value="Enviar Comentario"> 
            <input type="text" value="{{post.id}}" name="postId" style=" font-size: 0px;visibility: hidden; ">
            <input type="text" value="{{activos}}" name="activos" style="font-size: 0px;visibility: hidden;">
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  {% endfor %}



{% endblock %}