{% extends 'App/base.html' %}

{% load static %}
{% block content %}



   <!-- Heading -->
  
   {% for post in Usuarios %}
     <section class="page-section clearfix">
    <div class="container">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Appp/img/principal.jpg' %}" alt="">
       
       <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{post.usuario.username}}</span>
            <span class="section-heading-upper">{{post.Descripcion}}</span>

          <form method="POST" action="../{{accion}}Solicitud">
            {% csrf_token %}
            <input type="text" name="activo" value="{{activos}}" style="visibility: hidden;"><!-- ID_ACTIVO -->
            <input type="text" name="visitado" value="{{post.id}}" style="visibility: hidden;"> 
            <input type="text" name="pass" value="1" style="visibility: hidden;"> 
            
            <button type="submit" >{{sol}}</button>
        </form>


          <div style="text-align: left; font-size: 0.8em;">
            <!--Negocio: <a href='{{Banquet.0}}{{Banquetess.Negocio}}'>{{Banquetess.Negocio}}</a> 
            -->
        </div>
        </div>
      
    </div>
  </section>

  {% endfor %}



  

{% endblock %}